 <div id="telephone">
    <strong>热线</strong> 021-61508168 
    <strong>传真</strong> 021-61508168-8020<br />
    <strong>Q Q</strong> 375013071 13483528 562655482 1143735195（技术)<br />
    <strong>MSN</strong> xxx@xxx.com <strong>信箱</strong> aaa@aaa.com<br />
    <strong>帮助</strong> 
    <a href="https://huikuan.chinapay.com/overseasRemit/?smt_b=590B0A09080706054D11F30C" target="_blank" title="银行汇款账户">银行汇款账户</a> 
    <a href="http://www.psbc.com/portal/zh_CN/index.html" target="_blank" title="邮局汇款地址">邮局汇款地址</a> 
    <a href="http://www.daolangshop.com/faq.asp?id=11" target="_blank" title="送货方式及费用">送货方式及费用</a>
    <a href="http://product.pconline.com.cn/itbk/software/xunlei/1211/3078553.html" target="_blank" title="如何进行下载">如何进行下载</a>
</div>
<div id="helpLink">
    <a href="https://www.alipay.com/" target="_blank" title="支付宝支付">
        <img src="~/Images/alipay.gif" alt="支付宝支付" />
    </a>
    <a href="http://www.chinapay.com/" target="_blank" title="在线支付">
        <img src="~/Images/online_pay.gif" alt="在线支付" /><br />
    </a>
    <a href="http://www.jyb.cn/aboutus/intro/" target="_blank" title="网站介绍">网站介绍</a> 
    <a href="http://www.renrentou.com/special/network?baidu=baidu" target="_blank" title="合作伙伴">合作伙伴</a> 
    <a href="http://www.qq.com/map/" target="_blank" title="网站地图">网站地图</a> 
    <a href="http://www.oray.com/about/contact.html" target="_blank" title="联系我们">联系我们</a><br />
    <a href="http://www.icp021.com/icp/" target="_blank">增值电信业务经营许可证沪B2-20040503</a>
</div>
<div id="childSite">
    <strong>分站</strong> 
    <a title="沪江网" href="http://class.hujiang.com/course?source=932&utm_campaign=沪江品牌词&utm_adgroup=沪江长尾词&utm_content=课程分类&utm_term={keyword}&utm_matchtype=1&utm_source=baidu&utm_medium=cpc&sem_source=sem_baidu&utm_adkeyword=沪江网" target="_blank">沪江网</a> 
    <a title="听书" href="http://www.ting56.com/" target="_blank">听书</a> 
    <a title="口译" href="http://web.shwyky.net/" target="_blank">口译</a>
    <a title="CET" href="http://www.cet.edu.cn/" target="_blank">CET</a>
    <a title="考研" href="http://mg.kaoyan365.cn/quannian/?wt.mc_id=2360106" target="_blank">考研</a> 
    <a title="雅思" href="http://nanjing.gedu.org/sem/bk_ys/?utm_source=NJbaidu&utm_medium=cpc&utm_campaign=YS2201406264045" target="_blank">雅思</a> 
    <a title="托福" href="http://nanjing.gedu.org/sem/bk_tf/?utm_source=NJbaidu&utm_medium=cpc&utm_campaign=TF-tf2201406264719" target="_blank">托福</a>
    <a title="日语" href="http://www.hjclass.com/course?cate=127134&utm_campaign=日语&utm_adgroup=日语（核心词）&utm_term={keyword}&utm_matchtype=1&utm_source=baidu_xiao&utm_medium=cpc&sem_source=sem_baidu_xiao&utm_adkeyword=日语" target="_blank">日语</a> 
    <a title="法语" href="http://www.hjclass.com/course?cate=121934&utm_campaign=法语&utm_adgroup=法语（单独）&utm_term={keyword}&utm_matchtype=1&utm_source=baidu_xiao&utm_medium=cpc&sem_source=sem_baidu_xiao&utm_adkeyword=法语" target="_blank">法语</a>
    <a title="下载" href="http://www.skycn.com/" target="_blank">下载</a> 
    <a title="文库" href="http://wenku.baidu.com/" target="_blank">文库</a>
    <a title="部落" href="http://bl.qq.com/index.shtml" target="_blank">部落</a>
    <a title="博客" href="http://blog.sina.com.cn/" target="_blank">博客</a> 
    <a title="词典" href="http://dict.youdao.com/" target="_blank">词典</a> 
    <a title="IT新闻" href="http://it.ithome.com/" target="_blank">IT新闻</a> 
    <a title="博客园" href="http://www.cnblogs.com/" target="_blank">博客园</a> 
    <a title="新世界日语" href="http://www.neworldjp.com/" target="_blank">新世界日语</a> 
    <a title="2010考研书籍推荐" href="http://vip.kuakao.com/mg/baolu/" target="_blank">2010考研书籍</a>
</div>